# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# -----------------------------
# Virtual environment
# -----------------------------
fastapi_week1/
env/
venv/

# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# OS / system files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE / editor files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Optional: Node / front-end (if any)
# -----------------------------
node_modules/

